apiVersion: v1
kind: Service
metadata:
  name: weather-service
  namespace: default
spec:
  selector:
    app: weather-service
  ports:
    - name: http
      port: 80
      targetPort: 3000
      nodePort: 30080
  type: NodePort
